<div mat-dialog-title style="display: inline-flex;width: 100%;justify-content: space-between;">
  <h2 >Cadastrar nova via</h2>
  <button matSuffix mat-button mat-dialog-close style="position: relative;float: right;">
    <mat-icon class="scale-hover" [inline]="true" >close</mat-icon>
  </button>
</div>
<form name="form-insert-via" class="" (submit)="insertVia()">
  <mat-form-field style="width:50%;">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="via.nome"  name="nome">
  </mat-form-field>
  <mat-form-field  style="width:20%;">
    <mat-label>Tipo de Via</mat-label>
    <mat-select [(ngModel)]="via.tipoVia.id" name="tipoVia_id">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let tipoVia of tiposVia" [value]="tipoVia.id">
        {{tipoVia.nome}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field  style="width:20%;">
    <mat-label>Graduação</mat-label>
    <input matInput [(ngModel)]="via.graduacao"  name="graduacao">
  </mat-form-field>
  <mat-form-field  style="width:50%;">
    <mat-label>Descrição</mat-label>
    <textarea matInput [(ngModel)]="via.descricao"  name="descricao"></textarea>
  </mat-form-field>
  <mat-form-field >
    <mat-label>Setor</mat-label>
    <mat-select [(ngModel)]="via.setor.id" name="setor">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let setor of setores" [value]="setor.id">
        {{setor.nome}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field >
    <mat-label>Url do croqui</mat-label>
    <input matInput [(ngModel)]="via.urlCroqui"  name="urlCroqui">
  </mat-form-field>
  <mat-form-field >
    <mat-label>Carregar Imagem</mat-label>
    <mat-select [(ngModel)]="via.imagem.id" name="imagem_id">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let imagem of imagens" [value]="imagem.id">
        {{imagem.url}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field >
    <mat-label>Tags</mat-label>
    <input matInput [(ngModel)]="via.tags"  name="tags">
  </mat-form-field>
  <mat-form-field >
    <mat-label>Conquistador</mat-label>
    <mat-select [(ngModel)]="via.conquistador.id" name="conquistador_id">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let conquistador of conquistadores" [value]="conquistador.id">
        {{conquistador.nome}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field >
    <mat-label>Data Conquista</mat-label>
    <!-- <input matInput [(ngModel)]="via.dtConquista"  name="dtConquista"> -->
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="via.dtConquista"  name="dtConquista">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field >
    <mat-label>Extensao</mat-label>
    <input matInput [(ngModel)]="via.extensao"  name="extensao">
  </mat-form-field>
  <mat-dialog-actions style="flex-flow: row-reverse;">
    <button matSuffix mat-stroked-button color="primary" type="submit" style="position: relative;float: right;" [mat-dialog-close]="true">
      Salvar <mat-icon class="scale-hover">save</mat-icon>
    </button>
  </mat-dialog-actions>

</form>
