#nav-bar {
  background-color: blue;
  display: flex;
  height: 62px;
  justify-content: space-between;
  padding: 0 20px;
  width: inherit;
  // text-align: center;
}

.nav__logo {
  align-self: center;
  display: flex;
  height: 100%;
  align-items: center;
}

.logo-container {
  // height: inherit;
  height: 100%;
}

.logo-container img{
  // height: inherit;
  height: 100%;
}
.nav__buttons {
  display: flex;
  flex-flow: row;
  align-self: center;
}
#nav-menu {
  height: fit-content;
  display:flex;
  justify-content: space-between;

  // width: 30%;
  // background-color: red;
}
#content-area {
  height: 100%;
  // width: 70%;
  // background-color: yellow;
}
#main-content{
  display:flex;
  flex-direction: column;
  // flex-wrap: wrap;
}
