* {
  // --main-font-color: var(--dark-grey);
  --main-font-color: black;
}

#nav-bar {
  background-color: white;
  display: flex;
  height: 62px;
  justify-content: space-between;
  padding: 5px 20px 0;
  width: inherit;
}

.nav__logo {
  align-self: center;
  display: flex;
  height: 100%;
  align-items: center;
}

.logo-container {
  height: 100%;
}

.logo-container img{
  // height: inherit;
  height: 100%;
}
.nav__buttons {
  flex-flow: row;
  align-self: center;
  align-items: center;
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  font-family: sans-serif;
  font-weight: bold;
}

.user-img-container{
  border-radius: 50%;
  overflow: hidden;
  height: 40px;
  width: 40px;
  display: block;
  font-size: 24px;
  background-color: transparent;

}

.user-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#nav-menu {
  display: flex;
  min-height: 56px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--dividerFill);
  border-top: 1px solid var(--dividerFill);
  font-size: 14px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  align-items: center;
  height: 42px;
  justify-content: space-around;
}

.nav-item {
  padding-bottom: 10px;
  width: -webkit-fill-available;
  text-align: center;

  &.activebutton {
    border-bottom: 3px solid var(--main-font-color);
  }

  & a {
  text-decoration:none;
  color: var(--main-font-color);
  padding: 0 5px;

    & fa-icon {
      padding: 0 5px;
    }
  }
}

.filter-area {
  width:100%;
  justify-content: space-between;
  display: none;
}

#content-area {
  max-width: 1000px;
  text-align: center;
  text-align: -webkit-center;
}
#main-content{
  display:flex;
  flex-direction: column;
  max-width: 1000px;
}

button[mat-menu-item] {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;

  mat-icon {
    margin-right: 0 !important;
  }
}
