<style>
</style>
<header id="nav-bar">
  <div class="nav__logo">
    <div class="logo-container">
      <!-- <img src="https://static.tacdn.com/img2/brand_refresh/Tripadvisor_lockup_horizontal_secondary_registered.svg" alt=""> -->
      <img src="../assets/images/climbpedia.png" alt="">
    </div>
  </div>
  <div routerLink="/login" class="nav__buttons" style="cursor:pointer;">
    <span>{{userName}}</span>
    <div class="user-img-container">
      <img routerLink="/login" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/f6/e7/7b/default-avatar-2020-56.jpg?w=100&amp;h=-1&amp;s=1" class="user-img">
    </div>
  </div>
</header>
  <section id="nav-menu" style="font-weight: bold;">
    <div class="nav-item button"  routerLinkActive="activebutton" [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/vias">
        <span style="padding: 0 5px;"><fa-icon [icon]="faHouse"></fa-icon></span>
        <span>Home</span>
      </a>
    </div>
    <div class="nav-item button" routerLinkActive="activebutton">
      <a  routerLink="/vias/favoritas">
        <span><fa-icon [icon]="faHeart"></fa-icon></span>
        <span>Favoritos</span>
      </a>
    </div>
    <div class="nav-item button" routerLinkActive="activebutton">
      <a  routerLink="/galeria">
        <span><fa-icon [icon]="faImages"></fa-icon></span>
        <span>Galeria</span>
      </a>
    </div>
    <div class="nav-item button" routerLinkActive="activebutton">
      <a routerLink="/forum">
        <span><fa-icon [icon]="faUsers"></fa-icon></span>
        <span>Forum</span>
      </a>
    </div>
  </section>
  <router-outlet></router-outlet>

