
// regular style toast
@import '~ngx-toastr/toastr'; //https://www.npmjs.com/package/ngx-toastr

:root {
  --dark-grey: #595959;
}
/* You can add global styles to this file, and also import other style files */
body{
  margin:0;
  font-family: 'Trip Sans VF', 'Trip Sans', Arial, sans-serif !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button, a {
  cursor:pointer;
}

.scale-hover:hover {
  transform: scale(1.25);
}

